{{#partial "head"}}
{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}

<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

{{{head.scripts}}}

{{/partial}}

{{#partial "page"}}
<header class="checkoutHeader optimizedCheckout-header">
    <div class="checkoutHeader-content">
        <h1 class="is-srOnly">{{lang 'checkout.title'}}</h1>
        <h2 class="checkoutHeader-heading">
            <a class="checkoutHeader-link" href="{{urls.home}}">
                {{#if checkout.header_image}}
                    <img alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage" src="{{ checkout.header_image }}"/>
                {{ else }}
                    <span class="header-logo-text">{{settings.store_logo.title}}</span>
                {{/if}}
            </a>
        </h2>
    </div>
</header>

{{{ checkout.order_confirmation_content }}}

{{{ footer.scripts }}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" ></script>
<script type="text/javascript">
    const regex = /.*\//gm;
    const str = location.pathname;
    const subst = "";
    var URL = str.replace(regex, subst);
    
    var order_id = '{{checkout.order.id}}';
    
    if (URL == 'order-confirmation'){
        var oInfo; 
        fetch('/api/storefront/order/'+order_id, {credentials: 'include'})
        .then(function(response) {
            return response.json();
        })
        .then(function(myJson) {
            oInfo = myJson;
            console.log(oInfo);
            
            var lineitems = [];
            for (var i = 0; i < oInfo.lineItems.physicalItems.length; i++) {
                lineitems.push({
                    quantity : oInfo.lineItems.physicalItems[i].quantity,
                    unitPrice : oInfo.lineItems.physicalItems[i].listPrice,
                    unitPriceLessTax: oInfo.lineItems.physicalItems[i].listPrice,
                    SKU:oInfo.lineItems.physicalItems[i].sku ,
                    productName: oInfo.lineItems.physicalItems[i].name,
                });
            }
            
            var rm_trans = {
                displayConfig: {rdMID: "9703", removeTaxFromDiscount: true},
                orderid : oInfo.orderId,
                currency: oInfo.currency.code,
                customerStatus: "ACTIVE",
                conversionType: "Sale",
                customerID: oInfo.customerId,
                discountCode: oInfo.coupons[0].code,
                discountAmount: oInfo.coupons[0].discountedAmount,
                taxAmount:oInfo.taxTotal,
                lineitems : lineitems
            };
            console.log(rm_trans);
        });
    }
    
</script>

{{/partial}}

{{> layout/empty}}
